/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */

.shoe-bg {
  background: url(/src/assets/shoe-strip.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-clip: content-box;
}

.brand-logo {
  filter: grayscale(100%);
  outline: none;

  padding: 40px;
}

.brand-logo:fcous {
  outline: none;
}
.grayscale-margin {
  margin: 0 40px; /* Adjust the margin as per your requirements */
}
