/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */

.shoe-bg {
  background: url(/src/assets/shoe-strip.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-clip: content-box;
}

/* Add this to your CSS file */

/* Define a breakpoint for smaller screens */
@media screen and (max-width: 768px) {
  /* Hide the navbar items by default */
  .hidden {
    display: none;
  }

  /* Make the navbar container take up the full width and height */
  .fixed {
    width: 100%;
    height: 100%;
  }

  /* Use flexbox to align the navbar items vertically */
  .flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Add some margin and padding to the navbar items */
  .ml-5 {
    margin-left: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
  }

  /* Add some border and background color to the navbar items */
  li {
    border: 1px solid #9869ff;
    background-color: #f0f0f0;
  }

  /* Add some hover effects to the navbar items */
  li:hover {
    background-color: #9869ff;
    color: white;
    text-decoration: none;
  }
}
/* Add this to your CSS file */ /* Define a breakpoint for smaller screens */
@media screen and (max-width: 768px) {
  /* Hide the navbar items by default */
  .hidden {
    display: none;
  } /* Make the navbar container take up the full width and height */
  .fixed {
    width: 100%;
    height: 100%;
  } /* Use flexbox to align the navbar items vertically */
  .flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } /* Add some margin and padding to the navbar items */
  .ml-5 {
    margin-left: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
  } /* Add some border and background color to the navbar items */
  li {
    border: 1px solid #9869ff;
    background-color: #f0f0f0;
  } /* Add some hover effects to the navbar items */
  li:hover {
    background-color: #9869ff;
    color: white;
    text-decoration: none;
  }
}
